        .amer-tabs.nav-tabs .nav-item .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            /* To stack the text and icon vertically */
        }
        
        .enter-mile-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin-left: 32px;
        }
        
        .amer-tabs.nav-tabs .nav-item .nav-link .icon {
            width: 60px;
            height: 90px;
            /* Adjust this margin for spacing between text and icon */
        }
        
        .wheel-icon {
            margin-bottom: 15px;
        }
        
        .meter-icon {
            margin-bottom: 20px;
        }
        
        .amer-tabs.nav-tabs .nav-link {
            border: 0px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            border-radius: 10px;
            width: 160px;
            height: 130px;
        }
        
        .amer-tabs.nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background: rgb(58, 132, 195);
        }
        /* Active state for the tab with the SVG icon */
        
        .amer-tabs.nav-tabs .nav-item.show .nav-link.active .icon,
        .amer-tabs.nav-tabs .nav-link.active .icon {
            filter: brightness(0) invert(1);
            /* Change color to white */
        }
        
        .amer-tabs.modal-header {
            border-bottom: 0;
        }
        
        .amer-tabs.nav-tabs {
            justify-content: center;
            border-bottom: 0px;
        }
        
        #tab1-tab {
            margin-right: 30px;
        }
        
        #tab2-tab {
            margin-left: 30px;
        }
        
        .amer-dialog .modal-content {
            border-radius: 10px;
        }
        
        .close-btn {
            margin-right: 10px;
            color: black;
            margin-top: 7px;
        }
        
        .tab-label {
            font-weight: 700;
            font-size: 13px;
            text-align: center;
            margin-top: 12px;
        }
        
        .tab-label span {
            font-weight: 500;
            font-size: 10px;
        }
        /* Active state for the tab with the <p> elements */
        
        .amer-tabs.nav-tabs .nav-item .nav-link.active+p.tab-label,
        .amer-tabs.nav-tabs .nav-item .nav-link.active p.tab-label {
            color: rgb(58, 132, 195);
            /* Change the color here */
        }
        
        .amer-check-icon {
            margin-left: auto;
            margin-right: -7px;
            margin-top: 0px;
            color: white;
            font-size: 22px;
        }
        
        .icon {
            margin-top: -3px;
        }
        
        .fill-form-heading {
            font-weight: 700;
            font-size: 18px;
        }
        
        .amer-btns {
            width: 160px;
            height: 130px;
            background-color: rgb(250, 250, 250);
            border: 1px dotted rgba(0, 0, 0, .1);
            border-radius: 15px;
        }
        
        .fa-image,
        .fa-camera {
            font-size: 55px;
            color: rgb(220, 220, 220);
        }
        
        .amer-dialog.modal-dialog {
            max-width: 830px;
        }
        
        .system-brows-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 22px;
        }
        
        .camera-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .camera-btn {
            margin-left: 12px;
        }
        
        .amer-btns-wrapper {
            display: flex;
        }
        
        .camer-wrapper {
            border-left: 1px solid rgba(0, 0, 0, .1);
            border-right: 1px solid rgba(0, 0, 0, .1);
            /* height: 300px; */
        }
        
        .emer-steps {
            font-weight: 700;
            margin-top: 35px;
        }
        
        .amer-steps-content {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            margin-top: -5px;
            width: 90%;
        }
        
        .amer-steps-content-wrapper {
            justify-content: center;
            display: flex;
        }
        
        .mile-field.form-control {
            border: 0px;
        }
        
        .mile-field.form-control {
            border: 0px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 10px;
            text-align: center;
            color: black;
            font-weight: 400;
            margin-top: 12px;
        }
        
        textarea:focus,
        textarea.form-control:focus,
        input.form-control:focus,
        input[type=text]:focus,
        input[type=password]:focus,
        input[type=email]:focus,
        input[type=number]:focus,
        [type=text].form-control:focus,
        [type=password].form-control:focus,
        [type=email].form-control:focus,
        [type=tel].form-control:focus,
        [contenteditable].form-control:focus {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        .get-quote-btn {
            background-color: rgb(58, 129, 191);
            color: white;
            font-size: 14px;
            border-radius: 14px;
            margin-top: 35px;
            width: 103px;
            height: 40px;
        }
        
        .emer-container-wrapper {
            margin-top: -40px;
        }
        
        .capture-btn {
            width: 35px;
            height: 35px;
            background-color: rgb(250, 250, 250);
            position: absolute;
            left: 47%;
            bottom: 27%;
            border-radius: 50%;
        }
        
        .image-preview {
            width: 160px;
            max-height: 130px;
            border-radius: 15px;
            display: none;
            overflow: hidden;
        }
        
        .camera-preview video,
        .captured-image {
            width: 160px;
            height: 130px;
            border-radius: 15px;
        }
        /* .camera-preview {
            display: none;
        } */
        
        @media screen and (max-width:991px) {
            .capture-btn {
                bottom: 29%;
            }
        }
        
        @media screen and (max-width: 982px) {
            .amer-dialog.modal-dialog {
                max-width: 760px;
            }
            .amer-btns,
            .image-preview,
            .camera-preview video,
            .captured-image {
                width: 138px;
                height: 110px;
            }
            .emer-steps {
                font-size: 14px;
            }
            .capture-btn {
                width: 35px;
                height: 35px;
            }
        }
        
        @media screen and (max-width:800px) {
            .amer-dialog.modal-dialog {
                max-width: 720px;
            }
        }
        
        @media screen and (max-width:767px) {
            .amer-btns-wrapper {
                display: block;
            }
            .camer-wrapper {
                border-left: 0px;
                border-right: 0px;
            }
            .amer-dialog.modal-dialog {
                max-width: 580px;
            }
            .camera-btn {
                margin-left: 0px;
            }
            .system-brows-btn {
                margin-right: 0px;
            }
            .enter-mile-wrapper {
                margin-left: 0px;
            }
            .capture-btn {
                bottom: 38%;
            }
        }
        
        @media screen and (max-width:650px) {
            .amer-dialog.modal-dialog {
                max-width: 500px;
            }
            #tab1-tab {
                margin-right: 15px;
            }
            #tab2-tab {
                margin-left: 15px;
            }
        }
        
        @media screen and (max-width:575px) {
            .amer-dialog.modal-dialog {
                max-width: 580px;
            }
        }
        
        @media screen and (max-width:500px) {
            .amer-tabs.nav-tabs .nav-link {
                width: 120px;
                height: 100px;
            }
            .amer-tabs.nav-tabs .nav-item .nav-link .icon {
                width: 45px;
            }
            .amer-check-icon {
                font-size: 15px;
            }
            .meter-icon {
                margin-bottom: 11px;
            }
            .wheel-icon {
                margin-bottom: 10px;
            }
            .capture-btn {
                bottom: 39%;
                width: 28px;
                height: 28px;
            }
        }
        
        @media screen and (max-width:360px) {
            .amer-tabs.nav-tabs .nav-link {
                width: 120px;
                height: 100px;
            }
            .amer-tabs.nav-tabs .nav-item .nav-link .icon {
                width: 45px;
            }
            .amer-check-icon {
                font-size: 15px;
            }
        }
        
        @media screen and (max-width:356px) {
            .capture-btn {
                bottom: 40%;
            }
        }
        
        @media screen and (max-width:349px) {
            #tab2-tab,
            #tab1-tab {
                margin-left: 0px;
                margin-right: 0px;
            }
            .amer-tabs.nav-tabs .nav-link {
                width: 133px;
            }
        }
        
        @media screen and (max-width:345px) {
            .capture-btn {
                bottom: 34.5%;
            }
        }
        
        @media screen and (max-width:312px) {
            .capture-btn {
                bottom: 35%;
                left: 46%;
            }
        }